.main-chat__contents__list{data: {message: {id: message.id}}}
  .main-chat__contents__list__box
    .main-chat__contents__list__box__name
      = message.user.name
    .main-chat__contents__list__box__date
      = message.created_at.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[Time.now.wday]}) %H:%M")
  .main-chat__contents__list__message
    - if message.content.present?
      = message.content
    = image_tag message.image.url, class: 'main-chat__contents__list__image' if message.image.present?