.side-bar
  .side-bar__header
    .side-bar__header__box
      .side-bar__header__box__name
        = current_user.name
      .side-bar__header__box__menu
        = link_to "#", class: "side-bar__header__box__menu__btn" do
          = icon('far', 'edit',  class: "side-bar__header__box__menu__btn--icon")
        = link_to edit_user_path(current_user) , class: "side-bar__header__box__menu__btn" do
          = icon('fas', 'cog', class: "side-bar__header__box__menu__btn--icon")

  .side-bar__group
    .side-bar__group__list
      .side-bar__group__list__box
        .side-bar__group__list__box__name
          グループのname
        .side-bar__group__list__box__message
          最新メッセージ
    .side-bar__group__list
      .side-bar__group__list__box
        .side-bar__group__list__box__name
          グループのname
        .side-bar__group__list__box__message
          最新メッセージ
    .side-bar__group__list
      .side-bar__group__list__box
        .side-bar__group__list__box__name
          グループのname
        .side-bar__group__list__box__message
          最新メッセージ